{% extends "layout.html" %}
{% block title %}School{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #996633; }
</style>
{% endblock %}
{% block content %}
<h1>{{ school.name }}</h1>
<table class="sailor_list">
    {% for sailor in sailors %}
    <tr><td><a href="/sailor/{{ sailor.href }}">{{ sailor.name_and_year }}</a></td>
        <td>{{ sailor.current_rating }}</td>
        <td>{{ sailor.current_rank }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}